**/.data/**
**/.checkpoints/**
build/
crash-*
**/__pycache__/
mlab.egg-info/
scratch/
.ipynb_checkpoints/
image*
infrastructure/.lambda_account.json
.hypothesis
launch.json
days/data/TinyImageNet/**
days/saved_models/tutorial10/**
days/data/TinyImageNet.zip
mlab/runs/**
.pth
runs/**
mlab/data/**
mlab/w1d2_cifar10_train/**
days/w1d2/.DS_Store
*.pth
*.zip
.env
