build/
logs/
crash-*
__pycache__/
scratch/
.ipynb_checkpoints/
*.pth
*.zip
.env
.env-prod
.venv
.envrc
workshops/gradcam/gradCam/
workshops/reasoning_models_faithfullness/results/*
service_account_token.json
meta/camps
meta/config.yaml

# Feedback forms authentication files
meta/feedback_forms/creds.json
meta/feedback_forms/token.pickle

# macOS system files
.DS_Store
*/.DS_Store
