# If you don't have a GPU, you can run
# pip3 install torch  --index-url https://download.pytorch.org/whl/cpu
# Before installing the requirement.txt
torch

black[jupyter]
einops
ipykernel
ipywidgets
jaxtyping
jupyter
notebook
tqdm
typer
plotly
pandas
pre-commit
rich

# accelerate
# black
# click
# diffusers
# fancy_einsum
# flask
# ftfy
# gym==0.23.1
# joblib
# matplotlib
# mediapy
# numpy-stl
# pygame
# pytest
# requests
# scikit-learn
# sentence-transformers
# sympy
# tensorboard
# torchtyping
# transformers
# wandb
